
<div data-record="{{id}}" class="storyItemWrap">
  <div class="storyItem"><img src="{{mainImg}}" class="mainImage"/>
    <div class="clear"></div>
  </div>
  <div class="storyItemContent">
    <h4>{{title}}</h4>
    <p>{{description}}</p>
    <p>{{date}}</p>
  </div>
</div>